.table {
  border: none;
  thead {
    th {
      border-bottom: none;
    }
  }
  th,
  td {
    // border: none;
    border-color: rgba(255, 255, 255, 0.26);
    padding: 13px;
    p,
    a {
      font-size: 0.8rem;
    }
    p,
    a {
      margin-bottom: 0;
    }
  }
  .date {
    font-size: 0.7rem;
  }
  margin-bottom: 1rem;
}

.plus {
  color: #61b947;
}

.minus {
  color: #e13f2c;
}
