@import "../../../styles/variables.scss";

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 100px;
}

.loadingSpinnerOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.301);
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
