/* SCSS Variables */
$base-line-height: 1.6;
$base-font-size: 0.9rem;
$vertical-rhythm: $base-line-height * $base-font-size;

$body-font: "Open Sans", sans-serif;
$header-font: "Open Sans", sans-serif;

$header-color: #e0e0e0;
$body-color: #bbbbbb;
$button-color: rgba(77, 44, 173, 1);
$background-color: rgb(28, 27, 43);
$background-color: #020c20;
$background-color: #1c1c28;
